@use "./Variables";

.pageErreur {
  margin-bottom: 50px;
  text-align: Variables.$text-align;
  .titresErreur {
    font-size: 288px;
    color: Variables.$color-red;
  }

  .errorMessage {
    color: Variables.$color-red;
    margin: 40px;
  }
}
