body,
html {
  font-family: Montserrat;
}

.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  .container {
    width: 90%;
    margin: 0 auto;

    @media screen and (max-width: 480px) {
      width: 100%;
    }
  }
}
