@use "./Variables";

.Slideshow {
  position: relative;
  width: 100%;
  height: 530px;
  border-radius: 15px;
  .back {
    position: absolute;
    top: 40%;
    left: 3%;
    width: 8%;
    cursor: pointer;
  }

  .slideImage {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: Variables.$border-radius;
  }

  .next {
    position: absolute;
    top: 40%;
    right: 3%;
    width: 8%;
    cursor: pointer;
  }

  @media screen and (max-width: 700px) {
    height: 400px;
  }
}
